body,
html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #e4e2ff;
  height: 100%;
  min-height: 100%;
}

.items::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.items {
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
  overflow-y: scroll;
  /* margin-top: 100px; */
}
